absl-py
asgiref
astunparse
beautifulsoup4
black
bnltk
certifi
charset-normalizer
click
colorama
Django
flatbuffers
gast
google-pasta
grpcio
h5py
idna
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mypy_extensions
namex
numpy
opt_einsum
optree
packaging
pandas
pathspec
platformdirs
protobuf
Pygments
python-dateutil
pytz
requests
rich
scikit-learn
scipy
six
soupsieve
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
